@model NOCPLWebApplication.Models.TableDataVM
@*@model IEnumerable<NOCPLWebApplication.Models.Server>*@
@{
    ViewBag.Title = "NOC Table Page";
    List<SelectListItem> statusSelectList = new List<SelectListItem>();
    statusSelectList.Add(new SelectListItem() { Text = "Primary", Value = "Primary" });
    statusSelectList.Add(new SelectListItem() { Text = "Secondary", Value = "Secondary" });
}
@section scripts{
    <link href="~/css/serverModal.styles.css" rel="stylesheet" />
    <script src="~/js/serverModal.Controller.js"></script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="table">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Table 1</th>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <th>Primary</th>
                            <th>Secondary</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TableProducts.Where(product => product.TableNumber == 1)) {
                            <tr>
                                <td id="@item.Id" class="label-warning fa fa-server">@item.ProductName</td>
                                <td class="label-info" productName="@item.ProductName" serverColumn="primaryColumn" 
                                    serverGroup="@(item.PrimaryProductServer != null ? item.PrimaryProductServer.ServerGroup : "Empty")">
                                        @(item.PrimaryProductServer != null ? item.PrimaryProductServer.ServerName : "Not Set") @*Shown in the cell*@
                                </td>
                                <td class="label-primary" productName="@item.ProductName" serverColumn="secondaryColumn" 
                                    serverGroup="@(item.SecondaryProductServer != null ? item.SecondaryProductServer.ServerGroup : "Empty")">
                                        @(item.SecondaryProductServer != null ? @item.SecondaryProductServer.ServerName : "Not Set") @*Shown in the cell*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-5">
            <div class="table">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Table 2</th>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <th>Primary</th>
                            <th>Secondary</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TableProducts.Where(product => product.TableNumber == 2)) {
                            <tr>
                                <td id="@item.Id" class="label-warning fa fa-server">@item.ProductName</td>
                                <td class="label-info" productName="@item.ProductName" serverColumn="primaryColumn"
                                    serverGroup="@(item.PrimaryProductServer != null ? item.PrimaryProductServer.ServerGroup : "Empty")">
                                    @(item.PrimaryProductServer != null ? item.PrimaryProductServer.ServerName : "Not Set") @*Shown in the cell*@
                                </td>
                                <td class="label-primary" productName="@item.ProductName" serverColumn="secondaryColumn"
                                    serverGroup="@(item.SecondaryProductServer != null ? item.SecondaryProductServer.ServerGroup : "Empty")">
                                    @(item.SecondaryProductServer != null ? @item.SecondaryProductServer.ServerName : "Not Set") @*Shown in the cell*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-5">
            <div class="table">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Table 3</th>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <th>Server</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TableProducts.Where(product => product.TableNumber == 3)) {
                            <tr>
                                <td id="@item.Id" class="label-default">@item.ProductName</td>
                                <td class="label-info" productName="@item.ProductName" serverColumn="primaryColumn"
                                    serverGroup="@(item.PrimaryProductServer != null ? item.PrimaryProductServer.ServerGroup : "Empty")">
                                    @(item.PrimaryProductServer != null ? item.PrimaryProductServer.ServerName : "Not Set") @*Shown in the cell*@
                                </td>
                                <td class="label-primary" productName="@item.ProductName" serverColumn="secondaryColumn"
                                    serverGroup="@(item.SecondaryProductServer != null ? item.SecondaryProductServer.ServerGroup : "Empty")">
                                    @(item.SecondaryProductServer != null ? @item.SecondaryProductServer.ServerName : "Not Set") @*Shown in the cell*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


        @*TODO: ADD serverGroup code.*@
        <div class="col-md-5">
            <div class="table">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>SQL Table</th>
                        </tr>
                        <tr>
                            <th>SQL Alias</th>
                            <th>SQL Server</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TableProducts.Where(product => product.TableNumber == 4)) {
                            <tr>
                                <td id="@item.Id" class="">@item.ProductName</td>
                                <td class="" productName="@item.ProductName" serverColumn="primaryColumn">
                                    @(item.PrimaryProductServer != null ? item.PrimaryProductServer.ServerName : "Not Set")
                                </td>
                                @*<td class="label-primary" productName="@item.ProductName" serverColumn="secondaryColumn">
                                    @(item.SecondaryProductServer != null ? @item.SecondaryProductServer.ServerName : "Not Set")
                                </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-5">
            <div class="table">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>HORDE</th>
                        </tr>
                        <tr>
                            <th>Horde</th>
                            <th>Active Site</th>
                            <th>Horde Server</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TableProducts.Where(product => product.TableNumber == 5)) {
                            <tr>
                                <td id="@item.Id" class="success">@item.ProductName</td>
                                @*<td>@Html.ActionLink("Link", "Index", "Products",  new { id=item.Id, serverId = 1} ) </td>*@
                                <td id="@item.ProductName" productName="@item.ProductName" serverCell="primaryColumn">@if (item.PrimaryProductServer != null) { @item.PrimaryProductServer.ServerName; }</td>
                                <td>Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-5">
            <div class="table">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>UBER</th>
                        </tr>
                        <tr>
                            <th>Uber</th>
                            <th>Product</th>
                            <th>Uber Server</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TableProducts.Where(product => product.TableNumber == 6)) {
                            <tr>
                                <td id="@item.Id" class="success">@item.ProductName</td>
                                @*<td>@Html.ActionLink("Link", "Index", "Products",  new { id=item.Id, serverId = 1} ) </td>*@
                                <td id="@item.ProductName" productName="@item.ProductName" serverCell="primaryColumn">@if (item.PrimaryProductServer != null) { @item.PrimaryProductServer.ServerName; }</td>
                                <td>Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-5">
            <div class="table">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>IPAWS</th>
                        </tr>
                        <tr>
                            <th>IPAWS</th>
                            <th>Server</th>
                            <th>Active Site</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TableProducts.Where(product => product.TableNumber == 7)) {
                            <tr>
                                <td id="@item.Id" class="success">@item.ProductName</td>
                                @*<td>@Html.ActionLink("Link", "Index", "Products",  new { id=item.Id, serverId = 1} ) </td>*@
                                <td id="@item.ProductName" productName="@item.ProductName" serverCell="primaryColumn">@if (item.PrimaryProductServer != null) { @item.PrimaryProductServer.ServerName; }</td>
                                <td>Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="serverModal" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">Server Select</h4>
                <button id="windowClose" class="fa fa-window-close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li id="modalTd">@Html.DropDownList("ServerSelectList", ViewBag.serverList as SelectList, "Select Server", new {onchange = "serverListChange()" })</li>
                    @*<li>@Html.DropDownList("StatusSelectList", statusSelectList, "Select Status", new { onchange = "statusListChange()" })</li>*@
                </ul>
            </div>
            <div class="modal-footer">
                <button id="saveButton" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>